/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/


/* Global styles
------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #2f4858;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img {
    width: 300px;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 100px;
    line-height: 1;
}

h2 {
    font-size: 45px;
}

h1,
h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}

.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

h3 {
    margin-bottom: 0;
}

.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p {
    margin: 0;
}

.divider > section {
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}

.divider > section:last-of-type {
    border-bottom: none;
}

button {
    background-color: #4a576b;
    border: none;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Profile
------------------------------------*/
header {
    background: #f4989c;
    color: #441a1c;
    font-family: 'Raleway', Helvetica, sans-serif;
}

header a {
    color: #af4248;
}

/* Gallery
------------------------------------*/
.gallery {
    background: #bacfe0;
}

.gallery img {
    width: 200px;
    height: 150px;
    padding: 5px;
}

.gallery_column {
    float: left;
    width: 25%;
    padding: 10px;
}

.gallery_column img {
    opacity: 1;
    cursor: pointer;
}

.gallery_column img:hover {
    opacity: 0.6;
}

.gallery_row:after {
    content: "";
    display: table;
    clear: both;
}

/* Projects
------------------------------------*/
.projects {
    background: #ebd2b4;
    color: #5e4834;
}

.projects a {
    color: #b58a65;
}

.projects .btn {
    color: #ebd2b4;
    background: #5e4834;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgba(47, 48, 97, 80%);
}

.project-item {
    overflow: hidden;
}

.project-item h3 {
    margin-top: 0;
}


/* Work Experience
------------------------------------*/
.work-experience {
    background: #8fa6cb;
}

.work-experience a {
    color: #63748e;
}

button .pageref {
    text-decoration: none;
    color: #bacbd8;
    padding: 30px 15px;
}

/* Education
------------------------------------*/
.education {
    background-image: url(../images/post_it.jpg);
    opacity: 0.95;
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
    color: #181d23;
}

.education p {
    width: 60%;
}


/* Contact Info
------------------------------------*/
footer {
    background: #181d23;
    color: #FFFF;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
    color: #5c6470;
}
